<div id="wholeDiv" >

    <div id="valuesHeader">
        <p>
            <b>Výpočet :</b>
        </p>
    </div>
    <div id="valuesContent" *ngIf="step.id >= 0">
    <ng-container *ngIf="forward; then stockValuesForwardBlock; else stockValuesBackwardBlock">
    </ng-container>

    <ng-template #stockValuesForwardBlock>
    <p>
        <span>
           <b>B<sub>{{step.currentDay + 1}}</sub></b>(s<sub>{{step.currentDay + 1}}</sub>)
           <ul>
               <li>
                   min{{'{'}}
                   f<sub>{{step.nextDay}}</sub>(s<sub>{{step.currentDay}}</sub>, x<sub>{{step.nextDay}}</sub>) + 
                   B<sub>{{step.currentDay}}</sub>(s<sub>{{step.currentDay}}</sub>)<b>,</b> 
                   B<sub>{{step.nextDay}}</sub>(s<sub>{{step.nextDay}}</sub>)
                   {{'}'}}
               </li>
               <li>
                   min{{'{'}}
                   (x<sub>{{step.nextDay}}</sub> * c<sub>{{step.nextDay}}</sub>) + 
                   B<sub>{{step.currentDay}}</sub>(s<sub>{{step.currentDay}}</sub>)<b>,</b> 
                   B<sub>{{step.nextDay}}</sub>(s<sub>{{step.nextDay}}</sub>)
                   {{'}'}}
                </li>
               <li>
                    min{{'{'}}
                    ({{step.quantity!}} * {{step.price}}) + {{step.currentValue}}<b>,</b> 
                    {{step.oldNextValue | infiPipe}}
                    {{'}'}}
               </li>
               <li>
                   <b>{{step.nextValue | infiPipe}}</b>
               </li>
           </ul>
        </span>
        <br>
        </p>

    <div id="lineBreak">
    </div>

        <p>
            <b><span><span>x<sub>{{step.nextDay}}</sub></span> ∈ P<sub>{{step.nextDay}}</sub>(s<sub>{{step.currentDay}}</sub>) </span> :</b>
            <span>
                <ul id="nn">
                    <li>
                        x<sub>{{step.nextDay}}</sub> ∈ {{'<'}} max {{'{'}} 0, d<sub>{{step.nextDay}}</sub> - s<sub>{{step.currentDay}}</sub> {{'}'}}, k - s<sub>{{step.currentDay}}</sub>>
                    </li>
                    <li>
                        x<sub>{{step.nextDay}}</sub> ∈ {{'<'}} max {{'{'}} 0, {{step.demand!}} - {{step.currentState}} {{'}'}}, {{capacity}} - {{step.currentState}}>
                    </li>
                    <li>
                        x<sub>{{step.nextDay}}</sub> ∈ {{'<'}} {{step.demand! - step.currentState}}, {{capacity - step.currentState}}>
                    </li>
                    <li [ngClass]="step.valid ? 'greenText': 'redText'">
                        <b>{{step.quantity}} ∈ {{'<'}} {{step.decisionMin}}, {{step.decisionMax}}></b>
                    </li>
                </ul>
            </span>
            <br>
        </p>
    </ng-template>

    <ng-template #stockValuesBackwardBlock>
    <p>
        <span>
           <b>B<sub>{{step.currentDay}}</sub></b>(s<sub>{{step.currentDay}}</sub>)
           <ul>
               <li>
                   min{{'{'}}
                   f<sub>{{step.currentDay}}</sub>(s<sub>{{step.currentDay}}</sub>, x<sub>{{step.currentDay}}</sub>) + 
                   B<sub>{{step.currentDay + 1}}</sub>(s<sub>{{step.currentDay + 1}}</sub>)<b>,</b> 
                   B<sub>{{step.nextDay + 1}}</sub>(s<sub>{{step.nextDay + 1}}</sub>)
                   {{'}'}}
               </li>
               <li>
                   min{{'{'}}
                   (x<sub>{{step.currentDay}}</sub> * c<sub>{{step.currentDay}}</sub>) + 
                   B<sub>{{step.currentDay + 1}}</sub>(s<sub>{{step.currentDay + 1}}</sub>)<b>,</b> 
                   B<sub>{{step.nextDay + 1}}</sub>(s<sub>{{step.nextDay + 1}}</sub>)
                   {{'}'}}
                </li>
               <li>
                    min{{'{'}}
                    ({{step.quantity!}} * {{step.price}}) + {{step.currentValue}}<b>,</b> 
                    {{step.oldNextValue | infiPipe}}
                    {{'}'}}
               </li>
               <li>
                   <b>{{step.nextValue | infiPipe}}</b>
               </li>
           </ul>
        </span>
        <br>
        </p>

    <div id="lineBreak">
    </div>

        <p>
            <b><span><span>x<sub>{{step.currentDay}}</sub></span> ∈ P<sub>{{step.currentDay}}</sub>(s<sub>{{step.currentDay}}</sub>) </span> :</b>
            <span>
                <ul id="nn">
                    <li>
                        x<sub>{{step.currentDay}}</sub> ∈ {{'<'}} max {{'{'}} 0, d<sub>{{step.currentDay}}</sub> - s<sub>{{step.currentDay}}</sub> {{'}'}}, k - s<sub>{{step.currentDay}}</sub>>
                    </li>
                    <li>
                        x<sub>{{step.currentDay}}</sub> ∈ {{'<'}} max {{'{'}} 0, {{step.demand!}} - {{step.nextState | infiPipe}} {{'}'}}, {{capacity}} - {{step.nextState | infiPipe}}>
                    </li>
                    <li>
                        x<sub>{{step.currentDay}}</sub> ∈ {{'<'}} {{step.decisionMin | infiPipe}}, {{step.decisionMax | infiPipe}}>
                    </li>
                    <li [ngClass]="step.valid ? 'greenText': 'redText'">
                        <b>{{step.quantity}} ∈ {{'<'}} {{step.decisionMin | infiPipe: step.valid}}, {{step.decisionMax | infiPipe: step.valid}}></b>
                    </li>
                </ul>
            </span>
            <br>
        </p>

    </ng-template>
