<div id="stock">

    <div class="userInput">
        <div class="userInputItems">
            <app-items [(items)]="items" [demandPick]="true">

            </app-items>
        </div>

        <div class="userInputDecisionRange">
            <app-decision-range [(decisionMin)]="decisionMin" [(decisionMax)]="decisionMax"
                [days]="days" (daysChange)="onDaysChange($event)"
                [(capacity)]="capacity"
                [(startingState)]="startingState"
                [(endingState)]="endingState">
            </app-decision-range>
        </div>
    </div>

    <app-helper id="universal2" 
        [items]="items"
        [decisionMin]="decisionMin"
        [decisionMax]="decisionMax"
        [days]="days"
        [capacity]="capacity"
        [startingState]="startingState"
        [endingState]="endingState"
        [min]="min"
        [fixedDecisions]="true"
        [problemType]="problemType">

    </app-helper>
</div>