<html>
  <head>
    <meta http-equiv="Cache-Control" content="max-age=0, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0" />
  </head>
  <body>
    
    <div id="base">
    <div>
      <mat-toolbar color="primary">
        <a mat-button routerLink="/stock">
          Úloha o sklade
        </a>
        <a mat-button routerLink="/bag">
          Úloha o batohu
        </a>
      </mat-toolbar>
    </div>

      <div id="first">
        <div>
          <router-outlet #outlet="outlet"></router-outlet>
        </div>
      </div>

    <div class="bottomPanel">
      <mat-toolbar style="height: 5vw" color="primary">
      </mat-toolbar>
    </div>

    </div>


  </body>
</html>
